@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* font family */
    --headers: Playwrite US Modern ;
    --p:"LXGW WenKai Mono TC";

    /* font size */
    --headSize:3rem;
    --pSize:1.2rem;
    --btnSise:.9rem;

    /* colors */
    --light: #ffe9e6;
    --orange:rgb(255, 75, 43);
    --pink:rgb(255, 65, 108);
    --gradientY:linear-gradient(180deg, #FF416C 0%, #FF4B2B 100%);
    --gradientX:linear-gradient(270deg, #FF416C 0%, #FF4B2B 100%);

  }





  /* ------------------------------------------------  */


  ::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color:var(--light);
    box-shadow: 0, 0, 10px, #ddd inset;
}
::-webkit-scrollbar-thumb {
    background: var(--gradientY);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #75a5a8;
}  



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.test {
    padding: var(--pane-padding);
    padding: calc(var(--pane-padding) + .2rem);
}

.navbar {
    background:var(--gradientX);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    font-family: var(--headers);
}

.menu {
    display: flex;
}

.menu-item {
    margin-left: 1rem;
    border: 2px solid white;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.menu-item a {
    text-decoration: none;
    color: #ffffff;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .menu-item {
        margin-right: 0;
        margin-bottom: 0.5rem;
        text-align: center;
        border: #fff 1px solid;
    }
    .burger {
        display: flex;
    }
    .menu.active {
        display: flex;
    }
    .wellcoming {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        margin-bottom: 250px;
        gap: 55px;

    }
    .wellcoming-btn {
        margin-left: 100px;
        width: 200px;

    }
    .zz {
        flex-direction: column;
        align-items: center;
    }
    .zz .scroll-item {
        margin-bottom: 20px;
        
    }
    .img1 {
        width: 200px;
        height: 200px;
    }
    .img2 {
        width: 300px;
        height: 300px;
    }
    
    .img3{
        width: 300px;
        height: 300px;
    }  
    .home-imge{
          width: 300px;
        height: 300px;
    }      
    }


.wellcoming {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;

}

.wellcoming>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--pSize);
}

.btn{
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 13px 14px 19px -3px rgba(0, 0, 0, 0.3);
    font-family: var(--p);
    font-size: var(--pSize);

}
.btn:hover{
    background-color: #ff7e65;
    color: black;
    border-color: beige;

}



.wellcoming-btn {
    color: white;
    background: #ff4b2b;
    border: none;
    box-shadow: 13px 14px 19px -3px rgba(0, 0, 0, 0.3);
}

.wellcoming-btn:hover {
    transform: translateY(-1px);
}

.btn-in {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

h1 {
    text-align: center;
    font-size: var(--headSize);
    font-family: var(--headers);
    line-height:  70px ;

}

h3 {
    font-family: var(--p);
    font-size: var(--pSize);
    font-weight: 600;

}

.img1 {
    width: 400px;
    height: 400px;
}
.img2 {
    width: 500px;
    height: 500px;
}

.img3{
    width: 500px;
    height: 500px;
}
.div1{
    margin-top: 100px;
}
.rem{
    margin-top: -120px;
}

.zz {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

.zz .scroll-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* padding: 20px; */
    margin: 20px 0;
}

.zz .scroll-item .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}


@media (min-width: 768px) {
    .zz .scroll-item .content {
        flex-direction: row;
        text-align: left;
    }
    .zz .scroll-item:nth-child(2) .content {
        flex-direction: row-reverse;
    }
}

.text-content {
    max-width: 400px;
    margin: 20px;
    
}
.text-content>p{
    font-family: var(--p);
    font-size: var(--pSize);
    text-align: center;
}


.scroll-animation {
    opacity: 0;
    transform: translateY(160px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-animation.visible {
    opacity: 1;
    transform: translateY(0);
}

footer {
    background: var(--gradientX);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: var(--light);
}

.logo-foot {
    font-family: var(--headers);
}

.hidden {
    display: none;
}
.content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 90px;
}
